bcpware/src/bcpware/Debug
bcpware/src/bcpware/GeneratedFiles
bcpware/src/bcpware/Release
bcpware/src/bcpware/x64
bcpware/src/bcpwarePlugins/edit_test/x64/Release
bcpware/src/bcpwarePlugins/filter_box_packing/GeneratedFiles
*.tlog
bcpware/src/bcpwarePlugins/filter_box_packing/x64
bcpware/src/bcpwarePlugins/generate_print_func/debug
bcpware/src/bcpwarePlugins/io_base/GeneratedFiles
bcpware/src/bcpwarePlugins/io_x3d/GeneratedFiles
bcpware/src/common/Debug
bcpware/src/common/Release
bcpware/src/bcpwarePlugins/edit_test/GeneratedFiles
bcpware/src/bcpwarePlugins/io_base/x64
bcpware/src/bcpwarePlugins/generate_print_func/GeneratedFiles
*.pdb
bcpware/src/bcpwarePlugins/edit_test/x64/Debug
bcpware/src/bcpwarePlugins/generate_print_func/Release
bcpware/src/bcpwarePlugins/generate_print_func/Win32/Debug
bcpware/src/bcpwarePlugins/generate_print_func/x64/Debug
bcpware/src/bcpwarePlugins/generate_print_func/x64/Release
bcpware/src/bcpwarePlugins/io_x3d/x64/Debug
bcpware/src/bcpwarePlugins/io_x3d/x64/Release
bcpware/src/common/x64/Debug
bcpware/src/common/x64/Release
bcpware/src/distrib/plugins
*.sdf
*.db
bcpware/src/distrib
bcpware/src/distrib_de
bcpware/src/Picasso_.v12.suo.orig
